# Environment variables
backend/.env
backend/venv/
backend/__pycache__/
backend/users/venv/
backend/users/__pycache__/
backend/users/venv/
backend/users/__pycache__/

backend/users/venv/
backend/users/__pycache__/







